{% extends "base.html" %} 
{% load i18n %} 
{% load display_functions %} 
{% if user.is_authenticated %}
	{% block extra_scripts %}
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
	<script type="text/javascript">
	
		// Load the Visualization API and the piechart package.
		google.load('visualization', '1.0', {'packages':['corechart']});
	
		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawChart);
		function drawChart() {
	
			var data = new google.visualization.DataTable();
			data.addColumn('string', "{% trans 'Date' %}");
			data.addColumn('number', "{% trans 'Total' %}");
			
			data.addRows( {{ recent_activity|length }} );
			
			{% for date,count in recent_activity %}
				data.setValue({{ forloop.counter0 }},0,'{{ date }}');
				data.setValue({{ forloop.counter0 }},1,{{ count }});
			{% endfor %}
	
	        var chart = new google.visualization.AreaChart(document.getElementById('activity_chart_div'));
	        chart.draw(data, {	width: 600, 
	                			height: 400,
	                			vAxis: {minValue:0},
	                			pointSize:3,
	                			chartArea: {left:45,top:10,width:"90%",height:"75%"},
	                			backgroundColor: 'transparent',
	                			legend: 'none',
	                			series: [{areaOpacity:0.2}]
	                			});
	      }
	</script>
	{% endblock extra_scripts %}
{% endif %} 
{% block content %}

{% if user.is_authenticated %}
	<div class="homewidget" style="width:300px;">
		<h3>{% trans 'home_leaderboard' %}</h3>
		{% include "oppia/includes/leaderboard.html" %}
		<div class="homelink"><a href="{% url 'oppia_leaderboard' %}">{% trans "more..." %}</a></div>
	</div>
	<div class="homewidget">
		<h3>{% trans 'courses_recent_activity' %}</h3>
		<div id="activity_chart_div" class="graph">{% trans 'graph_generating'%}</div>
	</div>
	<div style="clear:both;"></div>
{% else %}
	{% blocktrans %} 
	<!-- <p align="center"><iframe width="400" height="315" src="http://www.youtube.com/embed/wHo5R_RgkG0" frameborder="0" allowfullscreen></iframe></p> -->
	<div style="text-align:left; width:100%; margin:auto;">
		<p>
			 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend vulputate nulla. Duis ac dolor ultrices, suscipit libero id, tincidunt quam. Aenean pellentesque interdum nulla id malesuada. Aenean vehicula leo at enim consectetur, eu pharetra nibh pulvinar. Nullam pretium tempus mattis. Sed quis magna quis justo varius lobortis ac eget neque. Morbi vel felis turpis. Nunc bibendum mollis diam, sit amet feugiat magna fringilla a. Phasellus rutrum aliquet urna, sit amet auctor elit laoreet a. Pellentesque augue dolor, gravida at euismod sollicitudin, semper quis justo. Vivamus ac mollis mi. Nullam eget interdum nibh. In hac habitasse platea dictumst.

</p><p>Aliquam hendrerit, eros sit amet facilisis luctus, lorem felis laoreet metus, a vestibulum odio massa id erat. Suspendisse lobortis quam ligula, vitae tempus arcu ornare ut. Duis quis purus adipiscing, scelerisque tellus eu, aliquet mauris. Cras eget tellus dapibus, molestie lorem vitae, fringilla lectus. Sed id lacinia odio, vitae eleifend mauris. Suspendisse viverra ut elit eu tincidunt. Integer et augue id erat lobortis tempus. Quisque vel massa auctor, lacinia elit ut, volutpat quam. Sed posuere quam et augue pulvinar, et tincidunt lacus vestibulum. Suspendisse rutrum risus vitae eleifend aliquam. In pulvinar vel lorem non adipiscing. Sed vitae congue nisi, vehicula posuere sapien.

</p><p>Nam a elementum magna, sit amet ultricies nisl. Quisque bibendum lectus et dui tincidunt laoreet. Nullam at tortor dictum, auctor metus vitae, suscipit purus. Vestibulum congue sapien ut nibh interdum, in fermentum ligula fermentum. Suspendisse potenti. Proin mattis nunc sed ante porta scelerisque. Pellentesque viverra nibh vel ullamcorper euismod. Phasellus dictum leo id arcu volutpat malesuada. Mauris vitae auctor massa, et auctor neque. Pellentesque consectetur mi at laoreet fringilla. Pellentesque adipiscing iaculis dolor, tempor rhoncus lacus gravida in.

</p><p>Vivamus vel lectus nibh. Nam non massa vel dolor ullamcorper posuere. Curabitur malesuada vehicula risus ac consequat. Donec suscipit rhoncus elit nec semper. Etiam commodo nisi a cursus semper. Quisque lobortis semper quam non venenatis. Curabitur nec bibendum lectus. Vestibulum at sapien quis mauris tristique dictum vel vel tellus. Praesent elementum congue massa, at venenatis enim.

</p><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed tristique vitae leo ac congue. Nunc ornare dolor vestibulum, sodales urna non, fermentum velit. Praesent lobortis nulla nec blandit fermentum. Mauris quis blandit lacus. Mauris congue ipsum quis vestibulum porttitor. Suspendisse potenti. Curabitur ac ullamcorper dolor, id auctor justo. Donec ultrices ante eu magna sodales, id aliquet risus interdum. Donec blandit augue vitae convallis aliquet. Morbi ac nisi eu urna accumsan tempor in sagittis neque. Nulla at suscipit mauris. Nullam felis tellus, consectetur vel vehicula eget, gravida non ligula. Quisque elit lacus, cursus sed sagittis sit amet, porta congue erat.

</p><p>Vivamus et vestibulum lorem. Quisque molestie sodales adipiscing. Vestibulum vitae mauris pulvinar, molestie nunc eget, tempor mi. Maecenas et nisi a lectus aliquet accumsan. Mauris dolor quam, accumsan sit amet posuere eget, consequat sed felis. Morbi pellentesque augue lobortis tortor varius aliquet. Nullam nec euismod quam. Ut consequat imperdiet enim vitae ullamcorper. Vestibulum vestibulum fermentum porttitor. Maecenas et ullamcorper felis. Sed elit leo, consequat id justo id, volutpat fringilla tellus.

</p><p>Nam non diam auctor, euismod mi ut, ultricies nunc. Aenean non pretium justo. Aliquam erat volutpat. Curabitur varius consectetur adipiscing. In hac habitasse platea dictumst. Cras quis ornare enim, vel lobortis diam. In nisl orci, laoreet vitae diam sed, molestie aliquam nisl. 
		</p>
	<!-- <p><a href="http://oppia-mobile.org">OppiaMobile</a> is the mobile learning platform from <a href="http://digital-campus.org">Digital Campus</a> to deliver learning content, multimedia and quizzes on your smartphone. All the content and activities can
	be accessed and used even when you don't have an internet connection available on your mobile.</p> -->
	<!-- <p>To get started with our courses, <a href="https://play.google.com/store/apps/details?id=org.digitalcampus.mobile.learning">download the OppiaMobile app</a>. --> 
	</div>
	{% endblocktrans %}

{% endif %} 





{% endblock %}
